.main__body--messages
  .main__message
    .main__message-name hoge
    .main__message-time 2018/12/13 17:04:00
    .main__message-text テキストテキストテキストテキストテキストテキストテキスト
  .main__message
    .main__message-name piyo
    .main__message-time 2018/12/13 17:04:35
    .main__message-text テキストテキストテキストテキストテキストテキストテキスト
