.main
  .main__header
    .main__header--group
      .main__header--group-name group-name
      = link_to "/groups/1/edit", class: 'main__header--edit-btn' do
        Edit
    .main__header--member Members: hoge hoge hoge

  .main__body
    = render partial: 'messages/message'

  .main__footer
    .main__footer--form
      %input{ placeholder: 'type a message', class: 'main__footer--form-body', type: 'text'}
        %label{ class: 'chat-file'}
          %input{ class: 'image', type: 'file', style: 'display: none;' }
            %i.fa.fa-image
      %input{ type: 'submit', value: 'Send', class: 'main__footer--form-btn' }
